<%- include('includes/header') %>
<body>
    <div class="card" style="width: 18rem;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQUVE6Otd5VTK0DWNojPxQe0S-206-KEHWFtR_VmYBGRVXWvwnB4Jpwyb4QxREBycgZSc&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</body>

<%- include('includes/footer') %>